{% load staticfiles %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'event/mycss.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="/static/event/mycss.css"> -->
<body>

   <div class="login">
      <div>
         <h1><a href="/krishi/administrator/signin/">Admin Login Page </a></h1>
      </div>
      <div class="container">
         <form name = "form" action = "{% url "krishi.views.home" %}" method = "POST" >{% csrf_token %}
            <div class="form-row">
               <label> Username </label>
               <input id="id_username" type = "text" placeholder = "Identifiant" name = "username" />
            </div>

            <div class="form-row">
               <label> password </label>
               <input id="id_password" type = "password" placeholder = "password" name = "password" />
            </div>
            <div class="submit-row">
               <button type = "submit" value = "Login"  class="btn">
                  <strong>Login</strong>
               </button>
            </div>
         </form>
      </div>
   </div>

</body>
</html>