<html>
<link rel="stylesheet" type="text/css" href="../../static/admin/css/login.css">
<link rel="stylesheet" type="text/css" href="../../static/admin/css/myStyleSheet.css">
<body>

   <div class="login">
      <div id="container">
         <form name = "form" action = "{% url "krishi.views.userhome" %}" method = "POST" >{% csrf_token %}
            <div id="header"> Login Page </div>
            <div class="form-row">
               <label> Username </label>
               <input id="id_username" type = "text" placeholder = "Identifiant" name = "username" />
            </div>

            <div class="form-row">
               <label> password </label>
               <input id="id_password" type = "password" placeholder = "password" name = "password" />
            </div>
            <div class="submit-row">
               <button type = "submit" value = "Login"  class="btn">
                  <strong>Login</strong>
               </button>
            </div>
         </form>
      </div>
   </div>

</body>
</html>