body{
  background: url(../extras/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  overflow:auto;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: black;
  font-style: italic;
  padding: 0%;
  margin: 0%;
}

h2 {
  background-color: #5493A4;
  border-style: solid;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color:white; // #5493A4;
}

.form-control{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


input:required{
  border: red solid 2px;
  border-radius: 0.5em;
  padding:8px ;
  padding-right: 25px;
  padding-left: 15px;
  background-image: url("../extras/red-star.png");
  background-position: right top;
}

.inp {
  display:  inline-block;
}

#inbox,#create{
  width: 100%;
  height: 100%;
  display: block;
}

svg {
  position: relative;
  padding-top: 1em;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;

}

.svg-icon path {
  //stroke:#3d3d29;
  stroke:red;
  fill: none;
  stroke-width: 1;
  fill:#ccccff;
}

.login__icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  -webkit-animation: animatePath 5s 0.5s forwards;
  animation: animatePath 9s 0.5s forwards;

}

.login__icon.pass path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  -webkit-animation: animatePath 5s 0.5s forwards;
  animation: animatePath 9s 0.5s forwards;

}

@-webkit-keyframes animatePath {
  to {
   stroke-dashoffset: 0;

 }

}

@keyframes animatePath {
  to {
   stroke-dashoffset: 0;

 }

}

.login{
  margin-top: 2em;
}

table, th, td {
 border: 1px solid black;
 padding: 15px;
 text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.msg_data{
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 white-space: pre-wrap;       /* css-3 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 word-break: break-all;
 white-space: normal;
}

.form-control{
  margin: 1em;
}

.login_form{
 max-width: 500px;
}

.form{
  position: relative;
  z-index: 1;
  //background :#349859;
  background: #438695;
  margin: 0 auto 70px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reg_form{
  max-width: 70%;
}

.bord{
  border:3px solid green;
  border-radius: 0.5em ;
}
.display{
  position: relative;
}
.overlap{
  top: 0;
  left: 0;
  position: absolute;
}
.btn{
  padding-top: 8px;
  padding-bottom: 8px;
  border :2px solid orange;
  border-radius: 2em 0.5em;
}
.mytable{
  width:70%;
  height: 100%;
  border:3px solid green;
  border-radius: 0.6em;
  background-color:#FFF056;
  color: #C63D0F;
  
}
.div-msg {
  border:3px solid #BBD233;
  border-radius: 0.6em;
  background-color: white;
  display: block;
  color: black;
  text-align: center;
}
#status span{
  background-color: white;
  padding: 5px;
  margin-left: 27em;
  width:auto;
}
